<!doctype html>
<html lang="en">
  <head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="theme-a/css/bootstrap.css" rel="stylesheet">
    <link href="theme-a/css/font-awesome.css" rel="stylesheet">
    <link href="theme-a/css/style.css" rel="stylesheet">
  </head>
  <body class="not-front page-blog">
    <div id="main">
      <div class="header-v2">
        <div class="container">
          <div class="header-inner clearfix">
            <header>
              <div class="logo_wrapper">
                <a href="index-2.html" class="logo">
                  <img src="theme-a/images/logo.png" alt="" class="img-fluid">
                </a>
              </div>
            </header>
            <ul class="social-top clearfix">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <nav class="navbar_ navbar navbar-expand-md clearfix">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav sf-menu clearfix">
                  <li class="nav-item sub-menu">
                    <a href="/" class="nav-link">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="sf-mega">
                      <ul>
                        <li><a href="/">DARK SITE VERSION</a></li>
                        <li><a href="http://demo.gridgum.com/bootstrap/hit-radio/white/index.html">LIGHT SITE VERSION</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                  <li class="nav-item"><a href="/channels" class="nav-link">Channels</a></li>
                  <li class="nav-item sub-menu">
                    <a href="#" class="nav-link">Media <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="sf-mega">
                      <ul>
                        <li><a href="/featured">FEATURED MUSIC</a></li>
                        <li><a href="featured.html">FEATURED ARTISTS</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item"><a href="/blog" class="active nav-link">Blog</a></li>
                  <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="breadcrumbs1_wrapper">
        <div class="container">
          <div class="breadcrumbs1"><a href="/">Home</a><span><i class="fa fa-angle-right" aria-hidden="true"></i></span>Blog</div>
        </div>
      </div>
      <div id="content">
        <div class="container">

          <div class="row">
            <div class="col-md-8 column-content mb-5 mb-md-0">

              <div class="post post-short">
                <div class="post-header">
                  <div class="post-image">
                    <img src="theme-a/images/blog01.jpg" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="post-story">
                  <div class="post-by">
                    <i class="fa fa-user" aria-hidden="true"></i> George Smith  &nbsp;&nbsp; <i class="fa fa-clock-o" aria-hidden="true"></i> Oct 6, 2018
                  </div>
                  <h3>LOREM IPSUM DOLOR SIT AMET CONCATEUR NON TROPPO DUO!</h3>
                  <div class="post-story-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                    </p>
                  </div>
                  <div class="post-more">
                    <a href="post.html" class="btn1 small">Read more</a>
                  </div>
                </div>
              </div>
              <div class="post post-short">
                <div class="post-header">
                  <div class="post-image">
                    <img src="theme-a/images/blog02.jpg" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="post-story">
                  <div class="post-by">
                    <i class="fa fa-user" aria-hidden="true"></i> James Abraham  &nbsp;&nbsp; <i class="fa fa-clock-o" aria-hidden="true"></i> Oct 6, 2018
                  </div>
                  <h3>LOREM IPSUM DOLOR SIT AMET CONCATEUR NON TROPPO DI SARONNO!</h3>
                  <div class="post-story-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                    </p>
                  </div>
                  <div class="post-more">
                    <a href="post.html" class="btn1 small">Read more</a>
                  </div>
                </div>
              </div>
              <div class="post post-short">
                <div class="post-header">
                  <div class="post-image">
                    <img src="theme-a/images/blog03.jpg" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="post-story">
                  <div class="post-by">
                    <i class="fa fa-user" aria-hidden="true"></i> John Doe  &nbsp;&nbsp; <i class="fa fa-clock-o" aria-hidden="true"></i> Oct 6, 2018
                  </div>
                  <h3>LOREM IPSUM DOLOR SIT AMET CONCATEUR ADIPISCING ELIT!</h3>
                  <div class="post-story-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                    </p>
                  </div>
                  <div class="post-more">
                    <a href="post.html" class="btn1 small">Read more</a>
                  </div>
                </div>
              </div>

              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">prev</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">next</a></li>
              </ul>



            </div>
            <div class="col-md-3 offset-md-1 column-sidebar">

              <div class="sidebar-block">
                <div class="sidebar-title">
                  category
                </div>
                <ul class="ul1">
                  <li><a href="#">Pop Music</a></li>
                  <li><a href="#">Blue / Jazz</a></li>
                  <li><a href="#">RnB & Hip Hop</a></li>
                  <li><a href="#">Rock ‘n’ Roll</a></li>
                  <li><a href="#">Classical</a></li>
                </ul>
              </div>

              <div class="sidebar-block">
                <div class="sidebar-title">
                  Recent posts
                </div>
                <div class="news1 clearfix">
                  <figure><img src="theme-a/images/news01.jpg" alt="" class="img-fluid"></figure>
                  <div class="caption">
                    Let me show you a few things.  <a href="#">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                  </div>
                </div>
                <div class="news1 clearfix">
                  <figure><img src="theme-a/images/news02.jpg" alt="" class="img-fluid"></figure>
                  <div class="caption">
                    Let me show you a few things.  <a href="#">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                  </div>
                </div>
                <div class="news1 clearfix">
                  <figure><img src="theme-a/images/news03.jpg" alt="" class="img-fluid"></figure>
                  <div class="caption">
                    Let me show you a few things.  <a href="#">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>

              <div class="sidebar-block">
                <div class="sidebar-title">
                  Tags
                </div>
                <ul class="tags">
                  <li><a href="#">RADIO</a></li>
                  <li><a href="#">WordPress Theme</a></li>
                  <li><a href="#">Responsive design</a></li>
                  <li><a href="#">Minimalist</a></li>
                  <li><a href="#">Hugo</a></li>
                  <li><a href="#">PSD Files</a></li>
                </ul>
              </div>





            </div>
          </div>





















        </div>
      </div>
      <div class="bot1-wrapper">
        <div class="container">
          <div class="bot1 clearfix">
            <div class="logo2_wrapper">
              <a href="index-2.html" class="logo2">
                <img src="images/logo2.png" alt="" class="img-fluid">
              </a>
            </div>
            <div class="social-footer-wrapper">
              <ul class="social-footer clearfix">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <p>
              <i>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa  officia deserunt<br>mollitid est laborum. Sed ut perspiciatis unde qui omnis.
              </i>
            </p>
          </div>
        </div>
      </div>
      <div class="bot2-wrapper">
        <div class="container">
          <div class="bot2 clearfix">
            <div class="row">
              <div class="col-md-4">
                <div class="contact-us-block">
                  <figure><img src="images/ic1.png" alt="" class="img-fluid"></figure>
                  <div class="txt1">41 Gridgum Sreet 133/2 NewYork City, US</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="contact-us-block">
                  <figure><img src="images/ic2.png" alt="" class="img-fluid"></figure>
                  <div class="txt1">Phone: (00) 123 456 789</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="contact-us-block">
                  <figure><img src="images/ic3.png" alt="" class="img-fluid"></figure>
                  <div class="txt1">Email: <a href="#">info.contact@gmail.com</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bot3-wrapper">
        <div class="container">
          <div class="bot3 clearfix">
            <ul class="menu-bot">
              <li><a href="#">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Customer Service</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <div class="copyrights">Copyright @2018. All rights Revierves</div>
            <div class="created">Created with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://gridgum.com/" target="_blank">Gridgum</a></div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/superfish.js"></script>

    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

  </body>
</html>
