<!doctype html>
<html lang="en">
  <head>
    <title>Channels</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="theme-a/css/bootstrap.css" rel="stylesheet">
    <link href="theme-a/css/font-awesome.css" rel="stylesheet">
    <link href="theme-a/Core/css/shiPlayer.css" rel="stylesheet">
    <link href="theme-a/css/style.css" rel="stylesheet">
  </head>
  <body class="not-front page-channels">
    <div id="main">
      <div class="header-v2">
        <div class="container">
          <div class="header-inner clearfix">
            <header>
              <div class="logo_wrapper">
                <a href="/" class="logo">
                  <img src="theme-a/images/logo.png" alt="" class="img-fluid">
                </a>
              </div>
            </header>
            <ul class="social-top clearfix">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <nav class="navbar_ navbar navbar-expand-md clearfix">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav sf-menu clearfix">
                  <li class="nav-item sub-menu">
                    <a href="/" class="nav-link">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="sf-mega">
                      <ul>
                        <li><a href="/">DARK SITE VERSION</a></li>
                        <li><a href="http://demo.gridgum.com/bootstrap/hit-radio/white/index.html">LIGHT SITE VERSION</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                  <li class="nav-item"><a href="/channels" class="active nav-link">Channels</a></li>
                  <li class="nav-item sub-menu">
                    <a href="#" class="nav-link">Media <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="sf-mega">
                      <ul>
                        <li><a href="/featured">FEATURED MUSIC</a></li>
                        <li><a href="featured.html">FEATURED ARTISTS</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
                  <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="breadcrumbs1_wrapper">
        <div class="container">
          <div class="breadcrumbs1"><a href="/">Home</a><span><i class="fa fa-angle-right" aria-hidden="true"></i></span>Channels</div>
        </div>
      </div>
      <div id="content">
        <div class="container">

          <div class="title1">Popular Radio Music Channels</div>

          <div class="title2">Check out our featured Shoutcast & Icecast Radio Music Channels. You can easily listen our best music channels on<br><a href="#">iTunes</a> or <a href="#">Google Play</a></div>

          <div class="row">
            <div class="col-md-6">
              <div class="shiPlayer-wrapper">
                <div class="shiPlayer-inner">
                  <div class="vinul vinul1"></div>
                  <div class="player player1"></div>
                  <div class="shiPlayer" id="radio1" data-tag=""></div>
                </div>
                <div class="caption">
                  <div class="txt1">POP MUSIC CHANNEL / Shoutcast Radio</div>
                  <div class="txt2">Lorem ipsum dolor sit amet concateur</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="shiPlayer-wrapper">
                <div class="shiPlayer-inner">
                  <div class="vinul vinul2"></div>
                  <div class="player player2"></div>
                  <div class="shiPlayer" id="radio2" data-tag=""></div>
                </div>
                <div class="caption">
                  <div class="txt1">THE GREATEST AMERICAN SONGBOOK / Shoutcast Radio</div>
                  <div class="txt2">Lorem ipsum dolor sit amet concateur</div>
                </div>
              </div>
            </div>
          </div>

          <div class="divider1"></div>

          <div class="row">
            <div class="col-md-6">
              <div class="shiPlayer-wrapper">
                <div class="shiPlayer-inner">
                  <div class="vinul vinul3"></div>
                  <div class="player player3"></div>
                  <div class="shiPlayer" id="radio3" data-tag=""></div>
                </div>
                <div class="caption">
                  <div class="txt1">JAZZ MUSIC / Shoutcast Radio</div>
                  <div class="txt2">Lorem ipsum dolor sit amet concateur</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="shiPlayer-wrapper">
                <div class="shiPlayer-inner">
                  <div class="vinul vinul4"></div>
                  <div class="player player4"></div>
                  <div class="shiPlayer" id="radio4" data-tag=""></div>
                </div>
                <div class="caption">
                  <div class="txt1">Alternative MUSIC / IceCast Radio</div>
                  <div class="txt2">Lorem ipsum dolor sit amet concateur</div>
                </div>
              </div>
            </div>
          </div>

          <div class="divider1"></div>

          <div class="row">
            <div class="col-md-6">
              <div class="shiPlayer-wrapper">
                <div class="shiPlayer-inner">
                  <div class="vinul vinul5"></div>
                  <div class="player player5"></div>
                  <div class="shiPlayer" id="radio5" data-tag=""></div>
                </div>
                <div class="caption">
                  <div class="txt1">CLASSICAL MUSIC / Shoutcast Radio</div>
                  <div class="txt2">Lorem ipsum dolor sit amet concateur</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="shiPlayer-wrapper">
                <div class="shiPlayer-inner">
                  <div class="vinul vinul6"></div>
                  <div class="player player6"></div>
                  <div class="shiPlayer" id="radio6" data-tag=""></div>
                </div>
                <div class="caption">
                  <div class="txt1">Alternative MUSIC / IceCast Radio</div>
                  <div class="txt2">Lorem ipsum dolor sit amet concateur</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="bot1-wrapper">
        <div class="container">
          <div class="bot1 clearfix">
            <div class="logo2_wrapper">
              <a href="index-2.html" class="logo2">
                <img src="theme-a/images/logo2.png" alt="" class="img-fluid">
              </a>
            </div>
            <div class="social-footer-wrapper">
              <ul class="social-footer clearfix">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <p>
              <i>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa  officia deserunt<br>mollitid est laborum. Sed ut perspiciatis unde qui omnis.
              </i>
            </p>
          </div>
        </div>
      </div>
      <div class="bot2-wrapper">
        <div class="container">
          <div class="bot2 clearfix">
            <div class="row">
              <div class="col-md-4">
                <div class="contact-us-block">
                  <figure><img src="theme-a/images/ic1.png" alt="" class="img-fluid"></figure>
                  <div class="txt1">41 Gridgum Sreet 133/2 NewYork City, US</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="contact-us-block">
                  <figure><img src="theme-a/images/ic2.png" alt="" class="img-fluid"></figure>
                  <div class="txt1">Phone: (00) 123 456 789</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="contact-us-block">
                  <figure><img src="theme-a/images/ic3.png" alt="" class="img-fluid"></figure>
                  <div class="txt1">Email: <a href="#">info.contact@gmail.com</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bot3-wrapper">
        <div class="container">
          <div class="bot3 clearfix">
            <ul class="menu-bot">
              <li><a href="#">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Customer Service</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <div class="copyrights">Copyright @2018. All rights Revierves</div>
            <div class="created">Created with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://gridgum.com/" target="_blank">Gridgum</a></div>
          </div>
        </div>
      </div>
    </div>
    <script src="theme-a/js/jquery.min.js"></script>
    <script src="theme-a/js/jquery.easing.1.3.js"></script>
    <script src="theme-a/js/superfish.js"></script>

    <script src="theme-a/Core/js/shiPlayer.js"></script>

    <script>
        $("#radio1").shiPlayer({
            type: "SHOUTCAST",
            URL: "http://80sbeats.cyberbeats.net:8000",
            radio_logo: "Core/img/logo2.png",
            default_image: "Core/img/default_artwork.jpg",
        });
        $("#radio2").shiPlayer({
            type: "SHOUTCAST",
            URL: "http://217.120.175.194:8010",
            radio_logo: "Core/img/logo2.png",
            default_image: "images/channel7.jpg",
        });
        $("#radio3").shiPlayer({
            type: "SHOUTCAST",
            URL: "http://199.180.75.116:80",
            radio_logo: "Core/img/logo2.png",
            default_image: "images/channel3.jpg",
        });
        $("#radio4").shiPlayer({
            type: "icecast",
            URL: "http://streaming210.radionomy.com:80",
            mount_point: "chiptune.mp3",
            cors_proxy: "https://cors-anywhere.herokuapp.com/"
        });
        $("#radio5").shiPlayer({
            type: "SHOUTCAST",
            URL: "http://178.33.232.106:8046",
            radio_logo: "Core/img/logo2.png",
            default_image: "images/channel5.jpg",
        });
        $("#radio6").shiPlayer({
            type: "icecast",
            URL: "http://91.213.69.202:8029",
            mount_point: "chiptune.mp3",
            cors_proxy: "https://cors-anywhere.herokuapp.com/"
        });

    </script>

    <script src="theme-a/js/popper.min.js"></script>
    <script src="theme-a/js/bootstrap.min.js"></script>
    <script src="theme-a/js/scripts.js"></script>

  </body>
</html>
