<div id="feature-news" class="page-section">
    <div class="container">

      <div class="title1">Feature Live Events</div>

      <div class="title2">We bring you featured events; shows,  podcast interviews music concerts you can stream and listen live.<br>Stay connectd to your favorite Artists and DJs from events around the world.</div>

      <div class="row">
        <div class="col-lg-6">
          <div class="feature-news">
            <div class="row">
              <div class="col-md-8 img-col">
                <figure>
                  <img src="theme-a/images/latest01.jpg" alt="" class="img-fluid">
                  <div class="audio3-wrapper clearfix">
                    <div class="audio3">
                      <audio class="audio" preload="none" style="width: 100%; visibility: hidden;" controls="controls">
                        <source type="audio/mpeg" src="theme-a/audio/song1.mp3"/>
                      </audio>
                    </div>
                    <div class="audio3-caption">
                      <div class="txt1"><span>symphonic</span></div>
                      <div class="txt2"><span>JOHAnN SEBASTIAN BACH - PRELUDIO</span></div>
                    </div>
                  </div>
                </figure>
              </div>
              <div class="col-md-4 txt-col">
                <div class="caption">
                  <div class="txt1"><i class="fa fa-user" aria-hidden="true"></i> John Bernshtein</div>
                  <div class="txt2">lorem ipsum dolor site amet concateur non troppo duo !</div>
                </div>
                <div class="txt3"><i class="fa fa-clock-o" aria-hidden="true"></i> Oct 6, 2018</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-news2">
            <div class="row">
              <div class="col-md-4 img-col">
                <figure>
                  <img src="theme-a/images/latest02.jpg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="col-md-8 txt-col align-self-center">
                <div class="caption">
                  <div class="txt1"><i class="fa fa-user" aria-hidden="true"></i> Amanda Clarck</div>
                  <div class="txt2">lorem ipsum dolor site amet SOUND concateur non troppo duo !</div>
                  <div class="txt3"><i class="fa fa-clock-o" aria-hidden="true"></i> Oct 6, 2018</div>
                </div>
              </div>
            </div>
          </div>
          <div class="feature-news2">
            <div class="row">
              <div class="col-md-4 img-col">
                <figure>
                  <img src="theme-a/images/latest03.jpg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="col-md-8 txt-col align-self-center">
                <div class="caption">
                  <div class="txt1"><i class="fa fa-user" aria-hidden="true"></i> John Doe</div>
                  <div class="txt2">lorem ipsum dolor site amet SOUND concateur non!</div>
                  <div class="txt3"><i class="fa fa-clock-o" aria-hidden="true"></i> Oct 6, 2018</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>