<div class="title1">Our Team</div>

<div class="title2">Our foundation may be insurance, but we have evolved and so have the solutions that we provide.</div>

<div class="row">
  <div class="col-md-6 col-xl-3">
    <div class="our-team-wrapper">
      <div class="our-team-inner">
        <div class="our-team clearfix">
          <figure>
            <img src="theme-a/images/team01.jpg" alt="" class="img-fluid">
            <div class="social3-wrapper">
              <ul class="social3">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </figure>
          <div class="caption">
            <div class="txt1">Chester Robinson</div>
            <div class="txt2">Designer</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="our-team-wrapper">
      <div class="our-team-inner">
        <div class="our-team clearfix">
          <figure>
            <img src="theme-a/images/team02.jpg" alt="" class="img-fluid">
            <div class="social3-wrapper">
              <ul class="social3">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </figure>
          <div class="caption">
            <div class="txt1">Kathryn Cobb</div>
            <div class="txt2">Cretive Directer</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="our-team-wrapper">
      <div class="our-team-inner">
        <div class="our-team clearfix">
          <figure>
            <img src="theme-a/images/team03.jpg" alt="" class="img-fluid">
            <div class="social3-wrapper">
              <ul class="social3">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </figure>
          <div class="caption">
            <div class="txt1">Edith Owen</div>
            <div class="txt2">Graphic Designer</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="our-team-wrapper">
      <div class="our-team-inner">
        <div class="our-team clearfix">
          <figure>
            <img src="theme-a/images/team04.jpg" alt="" class="img-fluid">
            <div class="social3-wrapper">
              <ul class="social3">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </figure>
          <div class="caption">
            <div class="txt1">Roger West</div>
            <div class="txt2">Photographer</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>