<div id="achievements">
    <div class="row">
      <div class="col-sm-3">
        <div class="info1">
          <div class="txt1"><span class="animated-number" data-duration="2000" data-animation-delay="0">90</span></div>
          <div class="txt2">Projects Completed</div>
          <figure><img src="theme-a/images/ic21.png" alt="" class="img-responsive"></figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="info1">
          <div class="txt1"><span class="animated-number" data-duration="2000" data-animation-delay="0">120</span></div>
          <div class="txt2">Happy Clients</div>
          <figure><img src="theme-a/images/ic22.png" alt="" class="img-responsive"></figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="info1">
          <div class="txt1"><span class="animated-number" data-duration="2000" data-animation-delay="0">50</span></div>
          <div class="txt2">Web Awards</div>
          <figure><img src="theme-a/images/ic23.png" alt="" class="img-responsive"></figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="info1">
          <div class="txt1"><span class="animated-number" data-duration="2000" data-animation-delay="0">240</span></div>
          <div class="txt2">Popular Music</div>
          <figure><img src="theme-a/images/ic24.png" alt="" class="img-responsive"></figure>
        </div>
      </div>
    </div>
  </div>