<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta property="fb:app_id" content="253469682980920" />
    <meta property="og:url"  content="https://www.radio.tivcast.com/songs-library" />
    <meta property="og:type" content="article" />
    <meta property="og:image:width" content="450"/>
    <meta property="og:image:height" content="398"/>
    <meta property="og:title" content="Tiv Songs Library"/>
    <meta property="og:description" content="Library of Tiv songs of all times" />
    <meta property="og:image" content="https://www.radio.tivcast.com/theme-a/images/tiv-songs-library.png" />
    <meta property="twitter:image" content="https://www.radio.tivcast.com/theme-a/images/tiv-songs-library.png"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:title" value="Tiv Songs Library"/>
    <meta property="twitter:description" value="Library of Tiv songs of all times"/>
    <meta property="twitter:site" value="TivCast Radio"/>
    <meta property="twitter:creator" value="@OpenfarmOnline"/>
    <meta name="description" content="Library of Tiv songs of all times">
    <meta name="keywords" content="Gospel songs radio channel stream and listen Tiv songs">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TivCast Radio |Songs Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="theme-a/css/bootstrap.css" rel="stylesheet">
    <link href="theme-a/css/font-awesome.css" rel="stylesheet">
    <link href="theme-a/css/mediaelementplayer.css" rel="stylesheet">
    <link href="theme-a/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="theme-a/css/audio-amp.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.plyr.io/3.6.2/plyr.css"/>
  <style>
  body{
    overflow-x: hidden !important;
  }

  </style>
  </head>
  <body class="not-front page-featured">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=1232573483468227&autoLogAppEvents=1" nonce="Mi8xDXe7"></script>
    <div id="main">
      <div class="header-v2">
        <div class="container">
          <div class="header-inner clearfix">
            <header>
              <div class="logo_wrapper">
                <a href="/" class="logo">
                  <img src="theme-a/images/logo.png" alt="" class="img-fluid">
                </a>
              </div>
            </header>
            <ul class="social-top clearfix">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <nav class="navbar_ navbar navbar-expand-md clearfix">
              <% include theme-a-navbar.ejs%>
            </nav>
          </div>
        </div>
      </div>
      <div class="breadcrumbs1_wrapper">
        <div class="container">
          <div class="breadcrumbs1"><a href="/">Home</a><span><i class="fa fa-angle-right" aria-hidden="true"></i></span>Songs Library</div>
        </div>
      </div>
      <div id="content">
        <% include playlist.ejs%>
      </div>

      <% include theme-a-footer.ejs%>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="theme-a/js/jquery.min.js"></script>
    <script src="theme-a/js/jquery.easing.1.3.js"></script>
    <script src="theme-a/js/superfish.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=1232573483468227&autoLogAppEvents=1" nonce="Mi8xDXe7"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@5.3.0/dist/amplitude.js"></script>
    <script src="theme-a/js/mediaelement-and-player.js"></script>
    <script src="theme-a/js/mep-feature-playlist.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5media/1.1.8/html5media.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.2/plyr.min.js"></script>
    <script src="theme-a/js/popper.min.js"></script>
    <script src="theme-a/js/bootstrap.min.js"></script>
    <script src="theme-a/js/scripts.js"></script>
    <script src="theme-a/js/jquery.jplayer.min.js"></script>
    
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
     <script>
        window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    
        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };
        return t;
        }(document, "script", "twitter-wjs"));
      </script>
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict'
            window.fbAsyncInit = function() {
            FB.init({
                appId            : '253469682980920',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v9.0'
            });
            };
        });
     </script>
  </body>
</html>
