<div class="owl-carousel owl-carousel-testimonials">
    <div class="item">
      <div class="testimonial-wrapper">
        <div class="testimonial-inner">
          <div class="testimonial clearfix">
            <div class="txt1">My experience with Poseidon is absolutely positive. The themes are beautifully designed and well documented. <br>Poseidon theme provides quick and competent support.</div>
            <div class="txt2">George Smith</div>
            <div class="txt3">Creative Director</div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="testimonial-wrapper">
        <div class="testimonial-inner">
          <div class="testimonial clearfix">
            <div class="txt1">My experience with Poseidon is absolutely positive. The themes are beautifully designed and well documented. <br>Poseidon theme provides quick and competent support.</div>
            <div class="txt2">George Smith</div>
            <div class="txt3">Creative Director</div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="testimonial-wrapper">
        <div class="testimonial-inner">
          <div class="testimonial clearfix">
            <div class="txt1">My experience with Poseidon is absolutely positive. The themes are beautifully designed and well documented. <br>Poseidon theme provides quick and competent support.</div>
            <div class="txt2">George Smith</div>
            <div class="txt3">Creative Director</div>
          </div>
        </div>
      </div>
    </div>
  </div>