<div class="bot1-wrapper">
    <div class="container">
      <div class="bot1 clearfix">
        <div class="logo2_wrapper">
          <a href="/" class="logo2">
            <img src="/theme-a/images/logo2.png" alt="" class="img-fluid">
          </a>
        </div>
        <div class="social-footer-wrapper">
          <ul class="social-footer clearfix">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <p>
          <i>
            We are building an extensive library of songs and music played in Tiv dialect for your listening pleasure.<br> We make you stream music from real live events and listen to your favorite shows from anywhere you are.
          </i>
        </p>
      </div>
    </div>
  </div>
  <div class="bot2-wrapper">
    <div class="container">
      <div class="bot2 clearfix">
        <div class="row">
          <div class="col-md-4">
            <div class="contact-us-block">
              <figure><img src="theme-a/images/ic1.png" alt="" class="img-fluid"></figure>
              <div class="txt1">Km 19, Ihugh - Tse Agberagba Road, Korinya-City, Konshisha, Benue State, Nigeria</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-us-block">
              <figure><img src="theme-a/images/ic2.png" alt="" class="img-fluid"></figure>
              <div class="txt1">Phone: (234) 703 499 4623</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-us-block">
              <figure><img src="theme-a/images/ic3.png" alt="" class="img-fluid"></figure>
              <div class="txt1">Email: <a href="#">info@tivcast.com</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bot3-wrapper">
    <div class="container">
      <div class="bot3 clearfix">
        <ul class="menu-bot">
          <li><a href="/about">About</a></li>
          <li><a href="/privacy-policy">Policy</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="copyrights">Copyright @2021 - 2025. All rights Revierves</div>
        <div class="created">Created with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="@" target="_blank">Ityav Systems</a></div>
      </div>
    </div>
  </div>