<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav sf-menu clearfix">
      <li class="nav-item"><a href="/" class="nav-link">Home</a></li>

<!--                   <li class="nav-item sub-menu">
        <a href="/" class="nav-link">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <div class="sf-mega">
          <ul>
            <li><a href="/">DARK SITE VERSION</a></li>
            <li><a href="http://demo.gridgum.com/bootstrap/hit-radio/white/index.html">LIGHT SITE VERSION</a></li>
          </ul>
        </div>
      </li> -->
      <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
       <!-- <li class="nav-item"><a href="/channels" class="nav-link">Channels</a></li> -->
      <li class="nav-item sub-menu">
        <a href="#" class="nav-link">Media Center<i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <div class="sf-mega">
          <ul>
            <li><a href="/songs-library">Songs Library</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/nkst-church-gospel-songs-channel">NKST Gospel Songs Channel</a></li>
          </ul>
        </div>
      </li> 
      <!--<li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>-->
      <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
    </ul>
  </div>