<div id="top-5" class="page-section">
    <div class="container">

      <div class="title1">Top 5 Popular Musics</div>

      <div class="title2">Countdown Top 5 popular musics of the week.</div>

      <div class="radios">
        <div class="radio1 clearfix">
          <div class="sec1">
            <div class="txt1">Jazzrock</div>
            <div class="txt2">2017 by Melor Doplin</div>
          </div>
          <div class="sec2">
            <div class="sec2-music">
              <figure>
                <img src="theme-a/images/music01.jpg" alt="" class="img-fluid">
              </figure>
              <div class="caption">
                <div class="top">
                  <div class="txt1">“Amapolo” - Laura Bernshtein</div>
                  <div class="txt2">
                    <div class="radio-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div>
                <div class="txt3">
                  <div class="ic2"><i class="fa fa-microphone" aria-hidden="true"></i> Jazz Rock</div>
                  <div class="ic2"><i class="fa fa-sliders" aria-hidden="true"></i> Gridgum Studio</div>
                  <div class="ic2"><i class="fa fa-circle-o" aria-hidden="true"></i> 1.5 Million Copies</div>
                </div>
              </div>
            </div>
          </div>
          <div class="sec3"><div class="txt1"><i class="fa fa-clock-o" aria-hidden="true"></i> 03.34</div></div>
          <div class="sec4">
            <div class="audio2">
              <audio class="audio" preload="none" style="width: 100%; visibility: hidden;" controls="controls">
                <source type="audio/mpeg" src="theme-a/audio/song1.mp3"/>
              </audio>
            </div>
          </div>
        </div>
        <div class="radio1 clearfix">
          <div class="sec1">
            <div class="txt1">Hard Rock</div>
            <div class="txt2">2017 by John Doe</div>
          </div>
          <div class="sec2">
            <div class="sec2-music">
              <figure>
                <img src="theme-a/images/music02.jpg" alt="" class="img-fluid">
              </figure>
              <div class="caption">
                <div class="top">
                  <div class="txt1">“Chicherio” - Sam Hichcock</div>
                  <div class="txt2">
                    <div class="radio-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div>
                <div class="txt3">
                  <div class="ic2"><i class="fa fa-microphone" aria-hidden="true"></i> Hard Rock</div>
                  <div class="ic2"><i class="fa fa-sliders" aria-hidden="true"></i> Gridgum Studio</div>
                  <div class="ic2"><i class="fa fa-circle-o" aria-hidden="true"></i> 1.2 Million Copies</div>
                </div>
              </div>
            </div>
          </div>
          <div class="sec3"><div class="txt1"><i class="fa fa-clock-o" aria-hidden="true"></i> 04.23</div></div>
          <div class="sec4">
            <div class="audio2">
              <audio class="audio" preload="none" style="width: 100%; visibility: hidden;" controls="controls">
                <source type="audio/mpeg" src="theme-a/audio/song2.mp3"/>
              </audio>
            </div>
          </div>
        </div>
        <div class="radio1 clearfix">
          <div class="sec1">
            <div class="txt1">Bassanova</div>
            <div class="txt2">2017 by Tsapa Music</div>
          </div>
          <div class="sec2">
            <div class="sec2-music">
              <figure>
                <img src="theme-a/images/music03.jpg" alt="" class="img-fluid">
              </figure>
              <div class="caption">
                <div class="top">
                  <div class="txt1">“Lolita” - John Doe</div>
                  <div class="txt2">
                    <div class="radio-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div>
                <div class="txt3">
                  <div class="ic2"><i class="fa fa-microphone" aria-hidden="true"></i> Bossanova</div>
                  <div class="ic2"><i class="fa fa-sliders" aria-hidden="true"></i> Gridgum Studio</div>
                  <div class="ic2"><i class="fa fa-circle-o" aria-hidden="true"></i> 1.7 Million Copies</div>
                </div>
              </div>
            </div>
          </div>
          <div class="sec3"><div class="txt1"><i class="fa fa-clock-o" aria-hidden="true"></i> 02.57</div></div>
          <div class="sec4">
            <div class="audio2">
              <audio class="audio" preload="none" style="width: 100%; visibility: hidden;" controls="controls">
                <source type="audio/mpeg" src="theme-a/audio/song3.mp3"/>
              </audio>
            </div>
          </div>
        </div>
        <div class="radio1 clearfix">
          <div class="sec1">
            <div class="txt1">Jazz Vocal</div>
            <div class="txt2">2017 by Leo Messi</div>
          </div>
          <div class="sec2">
            <div class="sec2-music">
              <figure>
                <img src="theme-a/images/music04.jpg" alt="" class="img-fluid">
              </figure>
              <div class="caption">
                <div class="top">
                  <div class="txt1">“Moon Light” - Lora Friman</div>
                  <div class="txt2">
                    <div class="radio-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div>
                <div class="txt3">
                  <div class="ic2"><i class="fa fa-microphone" aria-hidden="true"></i> Jazz Vocal</div>
                  <div class="ic2"><i class="fa fa-sliders" aria-hidden="true"></i> Gridgum Studio</div>
                  <div class="ic2"><i class="fa fa-circle-o" aria-hidden="true"></i> 2.3 Million Copies</div>
                </div>
              </div>
            </div>
          </div>
          <div class="sec3"><div class="txt1"><i class="fa fa-clock-o" aria-hidden="true"></i> 05.12</div></div>
          <div class="sec4">
            <div class="audio2">
              <audio class="audio" preload="none" style="width: 100%; visibility: hidden;" controls="controls">
                <source type="audio/mpeg" src="theme-a/audio/song4.mp3"/>
              </audio>
            </div>
          </div>
        </div>
        <div class="radio1 clearfix">
          <div class="sec1">
            <div class="txt1">1980’s Pop Music</div>
            <div class="txt2">2017 by Mikha Gabechava</div>
          </div>
          <div class="sec2">
            <div class="sec2-music">
              <figure>
                <img src="theme-a/images/music01.jpg" alt="" class="img-fluid">
              </figure>
              <div class="caption">
                <div class="top">
                  <div class="txt1">“Mudi Vudi” - George Smith</div>
                  <div class="txt2">
                    <div class="radio-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div>
                <div class="txt3">
                  <div class="ic2"><i class="fa fa-microphone" aria-hidden="true"></i> Pop Music</div>
                  <div class="ic2"><i class="fa fa-sliders" aria-hidden="true"></i> Gridgum Studio</div>
                  <div class="ic2"><i class="fa fa-circle-o" aria-hidden="true"></i> 4.2 Million Copies</div>
                </div>
              </div>
            </div>
          </div>
          <div class="sec3"><div class="txt1"><i class="fa fa-clock-o" aria-hidden="true"></i> 03.51</div></div>
          <div class="sec4">
            <div class="audio2">
              <audio class="audio" preload="none" style="width: 100%; visibility: hidden;" controls="controls">
                <source type="audio/mpeg" src="theme-a/audio/song1.mp3"/>
              </audio>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>